

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 px-0">
      <div class="col-md-3"></div>
      <div style="background-color: #66cdaa; padding: 10px; text-align: center;">
        <h2 style="color: #721c24; font-size: 100px;">enjoy tennis</h2>
      </div>
    </div>
  </div>
</div>


  <div class="row">
  <button class="btn btn-success btn-sm btn-block mb-3 sign_in rounded-circle" type="submit" style="background-color: green;">
    <%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post %>
  </button>
</div>

</div>
</div>