<h1>レビュー一覧</h1>

<% @reviews.each do |review| %>
  <p>レビュー画像</p>
    <%= image_tag(review.image.attached? ? review.image : asset_url('no_image.jpg'), size: '100x100') %>
  <p>レビュータイトル</p>
    <%= review.review_title %>
  <p>レビュー文</p>
    <%= review.review_body %>
<% end %>