  <h1>管理者ユーザー情報</h1>
  <br>性</br>
  <%= @user.family_name %>

  <br>名</br>
  <%= @user.personal_name %>

 <br>ニックネーム</br>
 <%= @user.nickname %>

 <br>メールアドレス</br>
 <%= @user.email %>
      <p><%#= link_to 'ユーザ情報変更', edit_admin_user_path(@user) %></p>