 <h3>会員情報</h3>
            <br>氏名</br>
            <br><%= @user.family_name %> <%= @user.personal_name %></br>
            <br>ニックネーム</br>
            <br><%= @user.nickname %></br>
            <br>メールアドレス</br>
            <br><%= @user.email %></br>